<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/angular-1.4.6.min.js"></script>
</head>
<body ng-controller="myCtrl">

    <form name="myForm" ng-submit="submit()" novalidate>
        <input type="color" ng-model="color">

        <input type="radio" ng-model="color1" ng-value="red">红色
        <input type="radio" ng-model="color1" ng-value="specialValue">绿色
        <input type="radio" ng-model="color1" ng-value="blue">蓝色

        值1：<input type="checkbox" ng-model="value1" ng-true-value="'Y'" ng-false-value="'N'">
        值2：<input type="checkbox" ng-model="value2" ng-value="green">

        {{value1}} <br>
        {{value2}}
        <br>

        <select ng-model="myColor" ng-options="color.name group by dark for color in colors">
            <option value="">请选择</option>
        </select>
        当前选择:{{myColor.name}}
        <br>


        <hr>
        <input type="text" ng-model="username" name="username" ng-focus="focused=true" ng-blur="foucsed=false" required>
        <span ng-show="myForm.username.$invalid && focused==false">用户名必填</span>
        <br>
        <input type="number" min="1" max="130" ng-model="age"><br>
        <input type="email" ng-model="email" name="email" required>
        <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
            <span ng-show="myForm.email.$error.required">邮箱是必须的。</span>
            <span ng-show="myForm.email.$error.email">非法的邮箱地址。</span>
        </span>
        <br>
        

        <input type="submit">
    </form>

    <!--<form name="myForm2">
        <input type="submit" ng-click="submit()">
    </form>

    <form name="outerForm">
        <ng-form name="innerForm">
            <input type="text" ng-model="username" required>
            <input type="submit">
        </ng-form>
        <input type="submit" ng-disabled="!outerForm.$valid">
    </form>-->
</body>
<script>
    var app = angular.module('myApp',[]);
    app.controller('myCtrl',function ($scope) {
        $scope.focused = false;

        $scope.username='';
        $scope.age='';

        $scope.color='#ffffff';

        //radio
        $scope.color1='red';
        $scope.specialValue={id:1,'col':'green'};

        //select

        $scope.colors=[
            {name:'black',shade:'dark'},
            {name:'white',shade:'light'},
            {name:'red',shade:'dark'},
        ];
        $scope.myColor=$scope.colors[2];
        
        $scope.submit = function () {
            console.log($scope.color);
            console.log($scope.color1);
            console.log('submit');
        }
    })
</script>
</html>