<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/angular-1.4.6.min.js"></script>
</head>
<body>
    <h2>服务：</h2>
    <form name="myForm" ng-controller="myCtrl" ng-submit="submit()">
        用户名：<input type="text" name="username" ng-model="username">
        年龄：<input type="number" name="age" ng-model="age">
        <input type="submit" >
    </form>

    <div ng-controller="myResult">
        用户名：{{username}}
        年龄：{{age}}
    </div>

    <div ng-controller="myContro">
        {{apikey1}}
        {{apikey2}}
    </div>
</body>
<script>
    var app = angular.module('myApp',[]);
    app.factory('UserService',function ($http) {
        var currentUser={};
        return {
            getCurrentUser:function () {
                return currentUser;
            },
            setCurrentUser:function (user) {
                currentUser=user;
            }
        }
    });
    app.service('UserService',function () {
        
    })
    app.controller('myCtrl',function ($scope,$rootScope,UserService) {
        $scope.submit = function () {
            UserService.setCurrentUser({username:$scope.username,age:$scope.age});
            $rootScope.$broadcast('currentUserChange');
        }
    });
    app.controller('myResult',function ($scope, UserService) {
        $scope.$on('currentUserChange',function () {
            $scope.username = UserService.getCurrentUser().username;
            $scope.age = UserService.getCurrentUser().age;
        });
    });


    app.constant('apikey1','123');//常量
    app.value('apikey2','456');//变量
    app.controller('myContro',function ($scope,apikey1,apikey2) {
        $scope.apikey1 = apikey1;
        $scope.apikey2 = apikey2;

    })
</script>
</html>